$primary-dark: #0f2f4f;
$summary-light: #f1f5f9;
$header-light: #f8fafc;
$border-light: #e5e7eb;
$table-border: #d1d5db;
$red-accent: #d6423a;
$text-dark: #1f2937;
$text-medium: #374151;
$avatar-green:#22c55e;


$font-small: 10px;
$row-height: 34px;
$header-height: 48px;
$gap-small: 10px;
$gap-medium: 12px;

$min-width-small-table: 160px;
$min-width-main-table: 420px;
$min-width-side-table: 140px;
$min-width-category: 120px;
