@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.wrapper {
  width: 100%;
  font-size: $font-small;
}

.rowWrap {
  display: flex;
  gap: $gap-medium;
  align-items: stretch;
}

.scoringGroup {
  display: flex;
  gap: $gap-small;
  align-items: stretch;
  width: $min-width-scoring-row;
  min-width: $min-width-scoring-row;
}

.table,
.tableSmall,
.tableSide {
  @include table-common;
}

.tableSmall {
  width: $min-width-card;
  min-width: $min-width-card;
}

.table {
  flex: 1;
}

.tableSide {
  width: $min-width-side-table;
  min-width: $min-width-side-table;
}

.table th,
.tableSmall th,
.tableSide th {
  @include header-style;
  background: $header-light;
 
}

.subHeader th {
  color: $red-accent;
}

.table td,
.tableSmall td,
.tableSide td {
  @include table-cell;
  border-color: $table-border;
}

.question {
  text-transform: capitalize;
}

.table tr,
.tableSmall tr,
.tableSide tr {
  @include row-height($row-height);
}

.categoryBonusCell {
  text-align: center;
  font-weight: 500;
  background-color: $primary-dark !important;
  color: $white !important;
  vertical-align: middle;
  padding: 6px 8px;
  font-size: $font-small;
}

.summary {
  @include summary-cell;
}

.finalBox {
  min-width: $min-width-category;
  border: 1px solid $table-border;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-left: auto;
  flex: 0 0 auto;
}

.footer {
  margin-top: $gap-small;
  padding: 8px;
  background: $color-gray-100;
  border-radius: 6px;
  text-align: right;
  font-weight: 600;
}

.footer span {
  font-size: 14px;
  margin-left: 6px;
}
