@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.page {
  background: $summary-light;
  min-height: 100vh;
  color: $primary-dark;
}

.content {
  padding: 18px 24px 32px;
}

.subNav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $gap-small;
}

.breadcrumbs {
  font-size: $font-small;
  color: $text-medium;
}

.pageHeader {
  background: $primary-dark;
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: $gap-small;
}

.pageTitle {
  font-size: 14px;
  font-weight: 600;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status svg {
  font-size: 18px;
  color: $avatar-green;
}


.cards {
  display: flex;
  gap: $gap-medium;
  overflow-x: auto;        
  scroll-behavior: smooth;

  padding-bottom: 10px;

  scrollbar-width: thin;
}

.card {
  min-width: 380px;        
  flex-shrink: 0;        
  background: white;
  padding: $gap-medium;
  border-radius: 8px;
}

.cardTitle {
  text-align: center;
  font-weight: 600;
  font-size: $font-small;
  margin-bottom: $gap-small;
}

.totals {
  margin-top: $gap-medium;
  border-top: 1px solid $border-light;
  padding-top: 8px;
  color: $primary-black;
}

.totalsHeader {
  text-align: center;
  font-weight: 400;
  margin-bottom: 6px;
}

.totalsRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: $font-small;
}

.bonusCard {
  margin-top: $gap-medium;
  border: 1px solid $border-light;
  border-radius: 8px;
  padding: $gap-medium;
}